<!DOCTYPE html>
<html>
    <head>
        <title>Multiplayer - Suduku</title>
        <script src="./jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="client.js"></script>
        <script type="text/javascript" src="login.js"></script>
        <script src="./vue.min.js"></script>

        <link href="game-style.css" rel="stylesheet" />
    </head>
<body>
    <header>
        <h1>SUDUKU Multiplayer</h1>
    </header>

    <div id="LoginRegisterScreen">
        <h2 id="status">Choose one option</h2><br>

        <input type="radio" name="ls" value="" onclick="showLogIn()">Login
        <input type="radio" name="ls" value="" onclick="showSignUp()">Register<br>
        <input type="text" id="email" name="email" style="display:none" placeholder="Enter your email"><br>
        <input type="text" id="nick" name="nick" style="display:none" placeholder="Enter your nickname"><br>
        <input type="password" id="pass" name="pass" style="display:none" placeholder="Enter your new password"><br>
        <button id="inButton" onclick="signIN()" style="display:none">Login</button>
        <button id="upButton" onclick="signUp()" style="display:none">Register</button>
    </div>

    <div id="Game" style="display:none">

        <div id="app-sudoku">

           <div class="buttons-container">
               <button class="button" id="getSudokuBtn" v-on:click="initializeMyGame()"><span>{{ initializeGameText }}</span></button>
               <button class="button" id="readyUpBtn" style="display:none" v-on:click="prepareGame()"><span>Join game</span></button>
               <!-- <transition name="fade">
                   <button class="button" v-on:click="evaluateGame()" v-if="isGameStarted"><span>{{ evaluateGameText }}</span></button>
               </transition> -->
           </div>

           <transition name="fade">
               <div class="grid-sudoku" id="sudokuGrid" v-if="isGameStarted && !showAnswer">

                   <div v-for="(row, row_id) in sudokuMatrix" class="grid-row">
                       <div v-for="(cell, cell_id) in row" class="grid-cell">
                           <transition-group tag="div" name="list-animation">
                               <input type="text" v-bind:key="cell.num" v-model="cell.num" v-on:keydown.enter="sendProgress(row_id,cell_id,cell.num)" class="grid-cell-editor" />
                           </transition-group>
                       </div>
                   </div>

               </div>
           </transition>

           <transition name="fade">
               <div v-if="showAnswer" class="answer">
                   <img v-bind:src="answerImage" class="answer-image" />
               </div>
           </transition>

       </div>

    </div>

    <script src="app.js"></script>
    <script src="sudoku.js"></script>

</body>
</html>
